*{
    margin-top:20px;
    margin-left:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
    text-decoration: none;
    width:500px;
    
    
}

.judul{
    border-top: 3px solid black;
}

h1{
    margin-left: 0px;   
    font-weight: normal;
}
a{
    color:black;
    margin-left: 0px;
}
.head{
    color: green;
    padding-top: 20px;
}
.subhead{
    color:blue;
    padding-top: 0px;
    font-size: 18px;
    margin-bottom: -6px;
}

ul{
    margin-left: -20px;
}

li{
    margin-block: 0px;
}
.main{
    margin-top: 10px;
    margin-bottom: 5px;
}